.headerWrapper {
  width: 100%;
  height: 40px;
  position: fixed;
  background-color: var(--themeBlack);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.logout-arrow {
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.headerSection {
  width: 150px;
  float: left;
  height: 50px;
}

.headerButtons{
    width: auto;
    float: right;
    height: 40px;
}


.headerSection img{
    width: 100px;
    height: 35px;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}

.toggleWindowWrapper{
    right: 0;
    bottom: 0;
    top: 40px;
    left: 0;
    background-color: var(--themeWhite);
    position: fixed;
    width: 100%;
    overflow-y: scroll;
    padding: 5px;
    padding-left: 20px;
    z-index: 99;
}

.toggleWindowWrapper h1{
    width: 100%;
    float: left;
    padding: 2%;
    padding-left: 1%;
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
}

.header_label{
    display: block;
}

.header_icon{
    display: none;
}


@media screen and (max-width: 500px){

    .displaArea{
         height: auto;
    }

    .header_label{
        display: none;
    }

    .header_icon{
        display: block;
    }
}
