@import "tailwindcss";

.noSupport{
    display: none;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

#root{
   display: block;
}

@media screen and (max-width: 400px){

    .noSupport{
         display: block;
    }

    #root{
        display: none;
    }


}
